@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #ffffff;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

.home-title {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: #306DC1;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
#background {
    height: 725px;
    background-color: #ec6985;
}
header {
    background-color: #ec6985;
}
nav a:hover {
    background-color: #3ed392;
    color: #306DC1;
}
.book, .join {
    background-color: #3ed392;
    color: #306DC1;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.msg {
    background-color: #ec6985;
    line-height: 1.5em;
    padding: 35px;
}
.msg h2 {
    color: #306DC1;
}
.msg p {
    color: #306DC1;
    font-size: .8em;
    padding-bottom: 15px;
}

.home-title {
    color: #306DC1;
}
h4 {
    color: #306DC1;
}
.book:hover, .join:hover {
    color: #ffffff;
}
h2 {
    margin: 0;
}


.logo {
    width:80px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero-img {
    width: 100%;
}
footer {
    background-color: #ec6985;
    color: #306DC1;
    padding: 25px 50px;
    margin-top: 200px;
}
footer .social img {
    padding-top: 15px;
}
footer a {
    color: #306DC1;
    text-decoration: none;
}
footer a:hover {
    color: #ffffff;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
#logo_link {
    padding-top: 5px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;;
}
.card-img {
    border: 10px solid black;
}