#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
    background-color: #596DB1;
}
body {
    background-color: white;
}
header {
    background-color: #596DB1;
}
nav a:hover {
    background-color: #596DB1
}
.book, .join {
    background-color: #596DB1;
}
.msg {
    background-color: #596DB1;
}
footer {
    background-color: #596DB1;
}